.steer {
        background-image: url(https://cn-geo1.uber.com/image-proc/crop/resizecrop/udam/format=auto/width=1152/height=768/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC91ZGFtLWFzc2V0cy9jNjQyNWRmNC0zMTkwLTRmZTEtODY2Ni02YTVhZjJjMGEwNDkucG5n);
        background-position:right;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 30px;
        height: 600px;
       
    }




@media (max-width: 575.98px) {
    .steer{
        
        background-image: none;
        height: 300px;


    }
    /* .pair{
        margin: 10px;
    } */
 
}

@media (min-width: 576px) and (max-width: 991.98px) {
     .steer{
        
        
        height: 300px;


    }

}

@media (min-width: 992px) {
    .steer{
     height: 480px;
        
       
       

    }
      /* .pair{
        margin: 50px;
    } */
 
}     